@model OrderListViewModel
@{ 
    ViewData["Title"] = "Tài khoản";
}

@Html.Partial("Header", "Tài khoản")
    <div class="container">
        @Html.Partial("AccountMenuPartial")
        <div class="c-layout-sidebar-content ">
            <!-- BEGIN: PAGE CONTENT -->
            <!-- BEGIN: CONTENT/SHOPS/SHOP-ORDER-HISTORY-2 -->
            <div class="c-content-title-1">
                <h3 class="c-font-uppercase c-font-bold">Lịch sử đơn hàng</h3>
            </div>
            <div class="row c-margin-b-40 c-order-history-2">
                <div class="row c-cart-table-title">
                    <div class="col-md-2 c-cart-image">
                        <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">Ảnh</h3>
                    </div>
                    <div class="col-md-1 c-cart-ref">
                        <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">Đơn hàng</h3>
                    </div>
                    <div class="col-md-5 c-cart-desc">
                        <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">Tên</h3>
                    </div>
                    <div class="col-md-2 c-cart-price">
                        <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">Giá</h3>
                    </div>
                    <div class="col-md-2 c-cart-qty">
                        <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">Ngày</h3>
                    </div>
                </div>
                <!-- BEGIN: ORDER HISTORY ITEM ROW -->
                @foreach (var item in Model.OrderDetails)
                {
                    <div class="row c-cart-table-row">
                        <h2 class="c-font-uppercase c-font-bold c-theme-bg c-font-white c-cart-item-title c-cart-item-first">@item.Product.Name</h2>
                        <div class="col-md-2 col-sm-3 col-xs-5 c-cart-image">
                            <img src="@item.Product.Image" />
                        </div>
                        <div class="col-md-1 col-sm-3 col-xs-6 c-cart-ref">
                            <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Đơn hàng</p>
                            <p><a onclick='ShowOrder(@Html.Raw(Json.Serialize(item.Order)))' data-toggle="modal" data-target="#myModal">#@item.OrderId</a></p>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-6 c-cart-desc">
                            <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Tên</p>
                            <p>
                                <a asp-action="Product" asp-controller="Home" asp-route-id="@item.ProductId" class="c-font-bold c-theme-link c-font-dark">@item.Product.Name</a>
                            </p>
                        </div>
                        <div class="clearfix col-md-2 col-sm-3 col-xs-6 c-cart-price">
                            <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Giá</p>
                            <p class="c-cart-price c-font-bold">@(((int)item.Product.Price).ToString("c"))</p>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6 c-cart-qty">
                            <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Ngày</p>
                            <p>@item.Order.Date</p>
                        </div>
                    </div>
                }
                <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content c-square">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Thông tin đơn hàng</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row c-margin-b-10">
                                    <div class="col-md-4">Mã đơn hàng: </div>
                                    <div id="order-id" class="col-md-5"></div>
                                </div>
                                <div class="row c-margin-b-10">
                                    <div class="col-md-4">Ngày đặt: </div>
                                    <div id="order-date" class="col-md-5"></div>
                                </div>
                                <div class="row c-margin-b-10">
                                    <div class="col-md-4">Địa chỉ: </div>
                                    <div id="order-address" class="col-md-5"></div>
                                </div>
                                <div class="row c-margin-b-10">
                                    <div class="col-md-4">Trạng thái: </div>
                                    <div id="order-shipped" class="col-md-5"></div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn c-theme-btn c-btn-border-2x c-btn-square c-btn-bold c-btn-uppercase" data-dismiss="modal">Đóng</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- END: ORDER HISTORY ITEM ROW -->
            </div>
            <!-- END: CONTENT/SHOPS/SHOP-ORDER-HISTORY-2 -->
            <!-- END: PAGE CONTENT -->
        </div>
    </div>
<!-- END: PAGE CONTAINER -->
<div class="container c-margin-b-40 c-center">
    <ul page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
        page-class-selected="c-active"
        class="c-content-pagination c-theme"></ul>
</div>