<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - BookShop</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&amp;subset=all' rel='stylesheet' type='text/css'>
    <link href="~/css/global.min.css" rel="stylesheet" asp-append-version="true" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN: BASE PLUGINS  -->
    <link href="~/css/base.min.css" rel="stylesheet" asp-append-version="true" />
    <!-- END: BASE PLUGINS -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="/favicon.ico"/>
</head>
<body class="c-layout-header-fixed c-layout-header-mobile-fixed c-layout-header-fullscreen">
<!-- BEGIN: HEADER -->
@await Component.InvokeAsync("Menu")
<!-- END: HEADER -->


@await Component.InvokeAsync("Signup")


@await Component.InvokeAsync("Login")

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
@RenderBody()
</div>
<!-- END: PAGE CONTAINER -->

<!-- BEGIN: LAYOUT/FOOTERS/FOOTER-2 -->
<a name="footer"></a>
@Html.Partial("Footer")
<!-- END: LAYOUT/FOOTERS/FOOTER-2 -->


<div class="c-layout-go2top">
    <i class="icon-arrow-up"></i>
</div>


<!-- BEGIN: CORE PLUGINS -->
<script src="~/js/core.min.js" type="text/javascript"></script>
<!-- END: CORE PLUGINS -->
<!-- BEGIN: LAYOUT PLUGINS -->
<script src="~/js/layout.min.js" type="text/javascript"></script>
<!-- END: LAYOUT PLUGINS -->
<!-- BEGIN: THEME SCRIPTS -->
<script src="~/js/site.min.js" type="text/javascript"></script>
<script>
            $(document).ready(function()
            {
                App.init(); // init core
            });
</script>
<!-- END: THEME SCRIPTS -->
<!-- BEGIN: PAGE SCRIPTS -->
@RenderSection("scripts", required: false)
<script src="/js/bootstrap-notify.min.js" type="text/javascript"></script>
@if (TempData["Message"] != null)
{
    <script>
        $.notify({
            // options
            message: '@((TempData["Message"] as string[])[1])'
        }, {
            // settings
            type: '@((TempData["Message"] as string[])[0])',
            placement: {
                from: "bottom",
                align: "center"
            },
            animate: {
                enter: 'animated fadeInUp',
                exit: 'animated fadeOutDown'
            },
            delay: 2000,
            mouse_over : "pause"
        });
    </script>
}
<script src="~/js/site.js" type="text/javascript"></script>
<!-- END: PAGE SCRIPTS -->
</body>
</html>