@model Product
<div class="row c-margin-b-40">
    <div class="c-content-product-2 c-bg-white">
        <div class="col-md-4">
            <div class="c-content-overlay">
                <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">Sale</div>
                <div class="c-overlay-wrapper">
                    <div class="c-overlay-content">
                        <a asp-action="Product" asp-controller="Home" asp-route-id="@Model.Id" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Xem</a>
                    </div>
                </div>
                <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url(/../../@Model.Image);"></div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="c-info-list">
                <h3 class="c-title c-font-bold c-font-22 c-font-dark">
                    <a class="c-theme-link" asp-action="Product" asp-controller="Home" asp-route-id="@Model.Id">@Model.Name</a>
                </h3>
                <p class="c-desc c-font-16 c-font-thin">@Model.Describe.Substring(0, Model.Describe.Length > 350 ? 350 : Model.Describe.Length)...</p>
                <p class="c-price c-font-26 c-font-thin c-font-red">
                    @string.Format("{0:C}", Model.Price)
                </p>
            </div>
            <div>
                <button type="submit" onclick="addToCart(@Model.Id,1)" class="btn btn-sm c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">
                    <i class="fa fa-shopping-cart"></i>Thêm vào giỏ
                </button>
            </div>
        </div>
    </div>
</div>