@model ProductListViewModel
@{ 
    ViewData["Title"] = "Quản trị";
}

@Html.Partial("Header", "Quản trị")
<div class="container">
    @Html.Partial("AdminMenuPartial")
    <div class="c-layout-sidebar-content ">
        <!-- BEGIN: PAGE CONTENT -->
        <!-- BEGIN: CONTENT/SHOPS/SHOP-ORDER-HISTORY-2 -->
        <div class="c-content-title-1">
            <h3 class="c-font-uppercase c-font-bold">Danh sách sản phẩm</h3>
        </div>
        <a asp-action="CreateProduct" class="btn btn-lg c-btn-green c-btn-square c-margin-b-10">Thêm</a>
        <div class="row c-margin-b-40 c-order-history-2 margin-right-10">
            <div class="row c-cart-table-title">
                <div class="col-md-2 c-cart-image">
                    <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">Ảnh</h3>
                </div>
                <div class="col-md-4 c-cart-ref">
                    <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">Tên</h3>
                </div>
                <div class="col-md-2 c-cart-desc">
                    <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">Giá</h3>
                </div>
                <div class="col-md-2 c-cart-price">
                    <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">Số lượng</h3>
                </div>
                <div class="col-md-1 c-cart-qty">
                    <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">Sửa</h3>
                </div>
                <div class="col-md-1 c-cart-qty">
                    <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">Xóa</h3>
                </div>
            </div>
            <!-- BEGIN: ORDER HISTORY ITEM ROW -->
            @foreach (var item in Model.Products)
            {
                <div class="row c-cart-table-row">
                    <h2 class="c-font-uppercase c-font-bold c-theme-bg c-font-white c-cart-item-title c-cart-item-first">@item.Name</h2>
                    <div class="col-md-2 col-sm-3 col-xs-5 c-cart-image">
                        <img src="@item.Image" />
                    </div>
                    <div class="col-md-4 col-sm-3 col-xs-6 c-cart-ref">
                        <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Tên</p>
                        <p><a asp-action="Product" asp-controller="Home" asp-route-id="@item.Id">@item.Name</a></p>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-6 c-cart-desc">
                        <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Giá</p>
                        <p>
                            @item.Price.ToString("c")
                        </p>
                    </div>
                    <div class="clearfix col-md-2 col-sm-3 col-xs-6 c-cart-price">
                        <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Số lượng</p>
                        <p class="c-cart-price ">@item.Quantity</p>
                    </div>
                    <div class="col-md-1 col-sm-3 col-xs-6 c-cart-qty">
                        <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Sửa</p>
                        <p><a asp-action="Product" asp-route-id="@item.Id" class="btn btn-xs c-btn-green c-font-uppercase c-font-bold c-btn-border-1x">Sửa</a></p>
                    </div>
                    <div class="col-md-1 col-sm-3 col-xs-6 c-cart-qty">
                        <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Xóa</p>
                        <p><a asp-action="DeleteProduct" asp-route-id="@item.Id" class="btn btn-xs c-btn-red c-font-uppercase c-font-bold c-btn-border-1x">Xóa</a></p>
                    </div>
                </div>
            }
            <!-- END: ORDER HISTORY ITEM ROW -->
        </div>
        <!-- END: CONTENT/SHOPS/SHOP-ORDER-HISTORY-2 -->
        <!-- END: PAGE CONTENT -->
    </div>
</div>
<div class="container c-margin-b-40 c-center">
    <ul page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
        page-class-selected="c-active"
        class="c-content-pagination c-theme"></ul>
</div>